.footerContainer {
  padding: 0.8rem;


  background-color: rgb(28 36 57);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  text-align: center;
}

.footerText {
  color: #fff;
  font-size: 0.8rem;
  margin-bottom: 0.5em;
}