.headerContainer {
  padding: 0.5rem;

  /* background-image: -webkit-linear-gradient(45deg, #69442b 0%, #c98a53 100%); */
  background-color: rgba(250, 236, 223, 0.486);


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.8rem
}

.headerTitle {

  margin-top: 1em;
  color: rgb(87, 87, 87);
  font-size: 2.7rem;
  font-family: 'Nunito+Sans';
  font-weight: 100;

}

.headerImage {
  margin-bottom: 1.8em;
  width: 22%;
  /* box-shadow: inset 0 0 1em gold; */


}

@media(max-width: 765px) {
  .headerImage {
    width: 50%;
    border-radius: 0%;

  }

  .headerTitle {
    color: rgb(77, 75, 75);
    font-size: 2.5rem;
    font-weight: 300;
  }

  .headerContainer {

    padding: 0.2rem;
    background-color: rgba(252, 219, 189, 0.486);
  }
}