.formContainer {
  width: 100%;
  
}

.textform{
 margin-bottom: 2em;
  color: rgb(87, 87, 87);
  font-size: 2.2rem;
  font-family: 'Nunito+Sans';
    font-weight: 100;
}

/* .contatoContainer{
  padding: 5rem;
  background-image: url(https://69734.cdn.simplo7.net/static/69734/sku/tecido-tricoline-tecido-textura-vrosa-vinho-soft-100-algodao-des-1292-cor-210-v003-21-1669672626835.jpg);
  width: 100%;
} */

.form {
  margin: 0 auto;
  border-radius: 4px;
  width: 40%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 3em;
}

.formInput {
  width: 100%;
  padding: 12px 32px;
  border: 1px solid rgb(100, 96, 96);
  border-radius: 4px;
  resize: vertical;
  margin-bottom: 1rem;
}

.formTextArea {
  width: 100%;
  padding: 12px 32px;
  border: 1px solid rgb(65, 60, 60);
  border-radius: 4px;
  resize: vertical;
  margin-bottom: 1rem;
}


.formButton {
 
  /* background-image: -webkit-linear-gradient(45deg, #947d6e 0%, #c98a53 100%); */
  background-color: rgb(28 36 57);
  border: none;
  color: rgb(255, 255, 255);
  font-weight: 600;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 1rem;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Nunito+Sans';
}

.formButton:hover {
  background-color: rgb(243, 193, 127);
  color: rgb(28, 28, 54);
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  
}
.contatoImage{
  border-radius: 20%;
  height: 12em;
  align-items: center;
  margin-bottom: 1em;
  
  
  
}

.contatoImage:hover
{
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
}

.iconesRedesSociais{
  color: rgba(27, 23, 53, 0.973);
font-weight: 700;
font-size: 3em;
padding: 0.5em;
/* margin-bottom: 8em; */


}

.iconesRedesSociais:hover{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  color: rgb(218, 150, 62);
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
.redessociais{
  margin-top: 1em;
  display: flex;
  gap: 1em;
  margin-left: 1em;
  height: 25px;
  
  margin-bottom: 8em;
  

}
  


.paragrafoContato{
  color: rgb(43, 43, 43);
  font-weight: 380;
  margin-top: 1em;
  font-size: 18px;
  text-align: center;
  font-family: 'Nunito+Sans';
}

@media(max-width: 765px){
  .form {
    margin: 0 auto;
    
    width: 80%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  /* .iconesRedesSociais{
    color: rgba(27, 23, 53, 0.973);
  font-weight: 700;
  font-size: 3em;
  
  } */

  .redessociais{
    margin-top: 2em;
    display: flex;
    gap: 1em;
    
    height: 25px;
    margin-bottom: 7em;
  }

}

