.cardContainerone{
    background-color: rgb(219, 190, 146);
    border-radius: 1em;
    padding: 2em;
    color: rgb(38, 43, 39);
    font-weight: 550;
}

.titleinicioone{
    color: rgb(26, 4, 4);
    padding:1rem;font-size:2rem;
}
.cardContainertwo{
    background-color: rgba(129, 142, 179, 0.39);
    border-radius: 1em;
    padding: 2em;
    color: rgb(38, 41, 43);
    font-weight: 550;
}

.titleiniciotwo{
    color: rgb(26, 4, 4);
    padding:1rem;font-size:2rem;
}
.titleinicio{
    
    padding:1rem;font-size:2rem;color:#474a51
}



.cardContainerfinal{
    /* background-color: rgb(119, 119, 121); */
   background-color: antiquewhite;
    padding: 3%;
    border-radius: 0.9;
}

.paragFinal{
    font-size: large;
    font-weight: 450;
    font-style: italic;
}



*{
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto,sans-serif;
}

.homeContainer{
    background-color:rgba(240, 203, 134, 0.11);
    padding: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    text-align: center;
}

.cardContainer{
    
    padding:1rem;
   /* background-color:blue ; */
    font-size:1.2rem;
     text-align:center;
     color:#474a51
}


@media(max-width: 765px) {
    .homeContainer {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }


