


.sobreContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .bioTitle {
    font-size: 3rem;
    padding: 2rem;
    color: #474a51
  }
  
  .bioContainer {
    width: 30rem;
  }
  
  .bioImage {
    /* box-shadow: 10px 5px 5px black; */
    /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
    /* box-shadow: 3px 3px red, -1em 0 0.4em olive; */
    /* box-shadow: inset 5em 1em gold; */
    
    border-radius: 50%;
    width: 17%;
  }
  
  .bioText {
    border-radius: 1.5em;
    background-color:rgb(252, 248, 240) ;
    margin-top: 2em;
    padding: 2rem;
    font-size: 1.2rem;
    color: #474a51;
    margin-bottom: 5em;
    
  }
  
  @media(max-width: 765px) {
    .sobreContainer {
      display: flex;
      flex-direction: column;
      background-color: rgb(241, 245, 248);
    }

    .bioContainer {
        width: 70%;
       
      }
  
    .bioImage {
      width: 50%;
    }

    .bioTitle{
      font-size: 2em;
      text-align: center;
    }
    .bioText{
      background-color: rgba(107, 130, 148, 0.068);
      margin-bottom: 5em;
    }
  }


