


.sobreContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .bioTitle {
    font-size: 3rem;
    padding: 2rem;
    color: #474a51
  }
  
  .bioContainer {
    width: 30rem;
  }
  
  .bioImage {
    /* box-shadow: 10px 5px 5px black; */
    /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
    /* box-shadow: 3px 3px red, -1em 0 0.4em olive; */
    /* box-shadow: inset 5em 1em gold; */
    
    border-radius: 50%;
    width: 40%;
  }
  
  .bioText {
    padding: 2rem;
    font-size: 1.2rem;
    color: #474a51
  }
  
  @media(max-width: 765px) {
    .sobreContainer {
      display: flex;
      flex-direction: column;
    }

    .bioContainer {
        width: 20rem;
      }
  
    .bioImage {
      width: 50%;
    }
  }


