*{
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto,sans-serif;
}

h2{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.sobreContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bioContainer{
    width: 30rem;

}

.biotitle{
    font-size: 3rem;
    padding: 2rem;
    color: #474a51;
}

.biotext{
    padding: 2rem;
    font-size: 1.2rem;
    color: #474a51;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* @media(max-width: 765px) {
    .sobreContainer , .bioContainer {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  } */

  @media (max-width: 765px){
    .sobreContainer  {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    }
}